.App {
  text-align: center;
}
.sm{
  margin : 0 auto;
}
body{
  background-color: #e6ffff;
}
.container{
  display: flex;
  flex-direction: row;

}
.income{
  display: flex;
  flex-direction: row;
}

.subcontainer{
  margin : 25px auto;
  padding : 10px;
  background-color: rgb(129, 56, 80);

  box-shadow :5px 5px whitesmoke; 
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .income-expense {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .income-expense {
    display: flex;
    flex-direction: row;
  }
}
